/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Image Styling */
.india {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 160px;
}

/* Form Container */
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 0px;
    font-size: 24px;
}

h3 {
    text-align: center;
    color: #333333;
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 15px;
}

/* Form Labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555555;
}

/* Form Inputs */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus
{
    border-color: #007bff;
    outline: none;
}

/* Buttons */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input[type="submit"],
input[type="reset"] {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
}

input[type="submit"]:hover {
    background-color: hsl(211, 100%, 35%);
}

input[type="reset"] {
    background-color: #f44336;
    color: #ffffff;
}

input[type="reset"]:hover {
    background-color: #d32f2f;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    color: #777777;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}
    /* Style the dropdown */
select {
width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Style the options */
option {
padding: 10px;
background-color: #e0e0e0;
}

option:hover {
background-color: #ccc;
}